@model autobagaz.Shop

@{
    ViewData["Title"] = "Удаление магазина " + Model.AUTOBAGAZ_SHOP_NAME;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="title title-h1">@ViewData["Title"]</h1>
<h2 class="title title-h2">Вы уверены, что хотите удалить данный элемент?</h2>

<div class="table">
    <div class="table__column"></div>
    <ul class="table__header">
        <li class="table__cell">Адрес магазина</li>
    </ul>

    <ul class="table__row">
        <li data-label="Адрес магазина" class="table__cell table__cell--center">@Html.DisplayFor(model => model.AUTOBAGAZ_SHOP_NAME)</li>
    </ul>

</div>

<div class="form__container">
    @using (Html.BeginForm("DeleteShop", "Contacts", FormMethod.Post, htmlAttributes: new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_ID)
        @Html.HiddenFor(m => m.AUTOBAGAZ_CITY_ID)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_MAP)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_NAME)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PERSON_NAME1)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PERSON_NAME2)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PERSON_PHONE1)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PERSON_PHONE2)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PHONE)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PHOTO_URL1)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PHOTO_URL2)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PHOTO_URL3)
        @Html.HiddenFor(m => m.AUTOBAGAZ_SHOP_PHOTO_URL4)

        <input type="submit" value="Удалить магазин" class="button button__zakaz" />
    }
</div>
<div class="button__wrap button__wrap--center">
    @Html.ActionLink("Назад", "Index", null, null, new { @class = "button button__buy button__buy--white button__buy--wide" })
</div>
