@using autobagaz
@model autobagaz.PaginationViewModel
@addTagHelper "*, autobagaz"

@{
    ViewData["Title"] = "Контактная информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{await Html.RenderPartialAsync("_Worktime");}

<h2 class="title title-h2">Адреса магазинов:</h2>

@if (User.Identity.GetUserRole() == "admin")
{
    <div class="button__wrap">
        @Html.ActionLink("Добавить магазин", "AddShop", null, null, new { @class = "button button__buy button__buy--white button__buy--wide" })
    </div>
}

@foreach (var shop in Model.Shops)
{
    <div class="inner" id="@shop.AUTOBAGAZ_SHOP_ID">
        <h3 class="title title-h3">@shop.City.AUTOBAGAZ_CITY_NAME, @shop.AUTOBAGAZ_SHOP_NAME</h3>
        <p class="text">
            Позвонить в магазин:
            <a onclick="yaCounter40650914.reachGoal('call_phone'); return true"
               href="tel:@shop.AUTOBAGAZ_SHOP_PHONE"
               class="link">@shop.AUTOBAGAZ_SHOP_PHONE</a>
        </p>
        <a onclick="yaCounter40650914.reachGoal('call_phone'); return true"
           href="tel:@shop.AUTOBAGAZ_SHOP_PERSON_PHONE1"
           class="link">@shop.AUTOBAGAZ_SHOP_PERSON_PHONE1 @shop.AUTOBAGAZ_SHOP_PERSON_NAME1</a>
        <a onclick="yaCounter40650914.reachGoal('call_phone'); return true"
           href="tel:@shop.AUTOBAGAZ_SHOP_PERSON_PHONE2"
           class="link">@shop.AUTOBAGAZ_SHOP_PERSON_PHONE2 @shop.AUTOBAGAZ_SHOP_PERSON_NAME2</a>
        <div class="img__wrapper">
            <img class="img" src="@shop.AUTOBAGAZ_SHOP_PHOTO_URL1" alt="@shop.AUTOBAGAZ_SHOP_NAME">
            <img class="img" src="@shop.AUTOBAGAZ_SHOP_PHOTO_URL2" alt="@shop.AUTOBAGAZ_SHOP_NAME">
            <img class="img" src="@shop.AUTOBAGAZ_SHOP_PHOTO_URL3" alt="@shop.AUTOBAGAZ_SHOP_NAME">
            <img class="img" src="@shop.AUTOBAGAZ_SHOP_PHOTO_URL4" alt="@shop.AUTOBAGAZ_SHOP_NAME">
        </div>
        <a class="link" href="@shop.AUTOBAGAZ_SHOP_MAP" target="_blank">Смотреть на Яндекс картах</a>
        @if (User.Identity.GetUserRole() == "admin")
        {
            <div class="button__wrap">
                @Html.ActionLink("Редактировать", "EditShop", null, new { id = shop.AUTOBAGAZ_SHOP_ID }, new { @class = "button button__buy button__buy--white" })
                @Html.ActionLink("Удалить", "DeleteShop", null, new { id = shop.AUTOBAGAZ_SHOP_ID }, new { @class = "button button__buy button__buy--red" })
            </div>
        }
    </div>
}

<pagination pagination="Model.Pagination" page-action="Index"></pagination>

@if (User.Identity.GetUserRole() == "admin")
{
    <div class="button__wrap button__wrap--center">
        @Html.ActionLink("Архив магазинов", "Archive", null, null, new { @class = "button button__buy button__buy--white button__buy--wide" })
    </div>
}

@{await Html.RenderPartialAsync("_Inn");}